@import "tailwindcss";

* {
  --color-bg-primary: #212b4f;

  --color-panel-primary: #435182;

  --color-actionrow-button-text-primary: #8997c4;
  --color-actionrow-button-text-green: #89c4a5;
  --color-actionrow-button-text-yellow: #c4bb89;
  --color-actionrow-button-text-red: #c49089;

  --color-text-primary: #aab9ed;
}

html,
body,
#app {
  width: 384px;
  background-color: var(--color-bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
button {
  color: var(--color-text-primary);
}
